/*Everything for graph.html*/
#duckCalc, #thimbleCalc, #depositCalc{
    display: none;
    width: 1000px;
    length: 600px;
}
li {
    font-size: 14pt;
}
/*Everything for title.html*/
#titleBody{
    background-image: "titleBackground.png";
}
h1{
    text-align: center;
}
p{
    font-size: 14pt;
    text-align: center;
}
button{
    margin: auto;
    display: flex;
}

