
/*Everything for graph.html*/
#duckCalc{
    display: none;
}
#thimbleCalc{
    display: none;
}
#depositCalc{
    display: none;
}
#tableCalc{
    display: none;
}

/*Everything for story.html*/



/*Everything for title.html*/